@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --font-poppins: "Poppins", sans-serif;
}
@theme {
  --font-poppins: "Poppins", sans-serif;
}


@custom-variant dark (&:is(.dark *));


